@charset "UTF-8";

body{
    background-image: url("../img/bg.png");
    background-repeat: no-repeat;

}
header{
    height: 100px;
    width: 100vw;
}
:focus {
    outline: none;
}
#step{
    position: absolute;
    color: crimson;
    top: 20px;
    right: 20px;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
/*=========================Control Area=========================*/
#control_area{
    position: relative;
    height: 500px;
}

#description_img{
    height: 480px;
    width: 480px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.video{
    height: 360px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

/*=========================Char Area=========================*/
#char_area{
    display: flex;
    justify-content: flex-start;
    width: auto;
    align-items: center;
    height: 200px;
}
#chat_area{
    position: relative;
    width: 85%;

}
#chat_image:active {
    padding-bottom: 4px;
    border: 0px;
}
#char{
    width: 15%;
}
#chat_text {
    color: #ff0000;
    position: absolute;
    pointer-events: none;
    top: 0vw;
    left: 0vw;
    padding-left: 1vw;
    font-size: 2vw;
    padding-right: 3vw;
}
#chat_image {
    width: 100%;
}
#chat_triangle{
    pointer-events: none;
    position: absolute;
    width: 5vw;
    max-width: 50px;
    bottom: 3vw;
    right: 4vw;
    animation: move-y .5s infinite alternate ease-in-out;

}
@keyframes move-y {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(1vw);
    }
}
/*=========================Input Area=========================*/
#input_area{
    margin-top: 5px;
    display: flex;
    height: 50px;
}

#input_box{
    text-indent: 1em;
    width: 700px;
    border: 0px;
    background: url("../img/input_field.png") left top no-repeat;
    background-size: 100% 100%;
}

.submit{
    border: 0px;
    width:204px;

    background: url("../img/submt_button_1.png") left top no-repeat;
    background-size: 100% 100%;
}
.submit:hover{
    cursor: pointer;
    opacity:0.7;
}

.submit:active{
    padding-top:6px;
    padding-bottom:4px;

}

/*=========================Hint Area=========================*/
#hint_area{
    display: flex;
    height: 50px;
    align-items: center;
}

#hint_button{
    border: 0px;
    width:100px;
    height: 40px;

    background: url("../img/submt_button_1.png") left top no-repeat;
    background-size: 100% 100%;
}
#hint_button:hover{
    cursor: pointer;
    opacity:0.7;
}

#hint_button:active{
    padding-top:6px;
    padding-bottom:4px;
}

#hint_text{
    margin:10px;
}

/*=========================Switchable media=========================*/
#switchable_media{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 480px;
}

#sw_desc{
    height: 360px;
    width: 360px;
    display: block;
}

#sw_video{
    height: 360px;
    display: none;
}

#sw_switcher{
    margin-top: 10px;
    height: 50px;
}

/*=========================Function Cards=========================*/
#function_card_root{
    display: flex;
    height: 100%;
}
#function_card_list{
    margin-left: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
}
.function_card{
    position: relative;

}

.function_card_img{
    height: 90px;
}
.function_card_delete_button{
    height: 30px;
    position: absolute;
    top: -10px;
    right: -20px;
    z-index: 1;
}

.function_card_text{
    position: absolute;
    width: 80%;
    top: 0;
    bottom: 0;
    left: 10px;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 10px;
}

/*=========================Assist Cards=========================*/
.assist_card{
    position: relative;
}

.assist_card_img{
    height: 80px;
}
.assist_card_delete_button{
    height: 20px;
    position: absolute;
    top: 0;
    left: 100px;
}
.assist_card_text{
    position: absolute;
    top: 10px;
    margin-right: 20px;
    margin-left: 30px;
}

/*=========================Assist Cards=========================*/
#moveable_card_root{
    height: 100%;
    display: flex;
}
.moveable_card{
    margin-top: 5px;

    position: relative;
    width: auto;
    height: auto;
}

.moveable_card_img{
    height: 50px;
    width: 200px;
    pointer-events: none;
}

.moveable_card_text{
    position: absolute;
    top: -5px;
    margin-right: 20px;
    margin-left: 30px;
    pointer-events: none;
}

.moveable_pin{
    height: 30px;
    position: absolute;
    top: 40px;
    left: 10px;
}
.mv_child_root{
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    min-height: 20px;
    height: auto;
}

.mv_hovering {
    z-index: 5;
}


#moveable_decide{
    height: 100%;
    width: 40%;
}

.moveable_decide_holder{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;

}

#moveable_list{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
}